[Unit]
Description=dadivity activity monitor
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python  /home/pi/dadivity_motion_mon/dadivity.py
StandardOutput=null
Restart=always

[Install]
WantedBy=multi-user.target

